/* Toolbar */
.toolbar {
    display: flex;
    justify-content: space-between;
    background-color: #e8eaed;
    padding: 10px 20px;
    border-radius: 6px;
    margin-bottom: 20px;
    align-items: center;
}

.search-box {
    display: flex;
    gap: 10px;
}

/* ID Input Styling */
.id-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 5px 0;
}

#numeroAtendimentoInput {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-color);
    background: transparent;
    border: none;
    border-bottom: 2px dashed #ccc;
    width: 150px;
    text-align: center;
    padding: 0;
}

#numeroAtendimentoInput:focus {
    outline: none;
    border-bottom-color: var(--accent-color);
}

.btn-success {
    background-color: #27ae60;
    color: white;
}

.btn-success:hover {
    background-color: #219150;
}

/* Logo Customization Styles */
.logo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.logo-container {
    position: relative;
    border-radius: 4px;
    width: 100px;
    height: 100px;
}

.no-print {
    display: flex;
}

@media print {
    .no-print {
        display: none !important;
    }

    #numeroAtendimentoInput {
        border: none;
        /* Hide underline on print */
    }
}